In [23]:
import pandas as pd
import matplotlib.pyplot as plt

In [24]:
df=pd.read_csv(r"C:\Users\Akshat\Desktop\Housing_Dataset.csv")

In [25]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Unnamed: 6
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,NaN
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,NaN
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,NaN
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,NaN
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,NaN

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
train_x,test_x,train_y,test_y=train_test_split(df[["Avg. Area Income","Avg. Area House Age","Avg. Area Number of Rooms","Avg. Area Number of Bedrooms","Area Population"]],df["Price"],test_size=0.2)

In [28]:
train_x.size

20000

In [29]:
test_x.size

5000

In [30]:
from sklearn import linear_model

In [31]:
r=linear_model.LinearRegression()

In [32]:
r.fit(train_x,train_y)

LinearRegression()

In [33]:
r.predict([[80000,6.5,7,3,24663]])

array([1389540.71761273])

In [34]:
r.score(test_x,test_y)

0.9154311758042432